<app-banner></app-banner><br><br>

<div class="contetPrincipal">
  <p>
    <strong>Bienvenido..... Api personas</strong><br><br>
   
</div>
<div class="contetSegundario">
  <br><br>
  Esta solución le brindara información detallada sobre las personas registradas en la Base de Datos con el fin de realizar diferentes operaciones.<br><br>
  <p>Ademas los recursos que consume en la base de datos estan publicados en la suiguente URL:  'https://softtekbackend.herokuapp.com/api/persona/todos'</p>
<br>

</div>
<div class="content">
  
  <br>
  <p>  
    <strong>Acontinuacion Vera las personas Actualmente registradas</strong><br><br>
  </p>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle ">
        <thead>
          <tr>
            <th class="text-center align-middle"><strong>id</strong></th>
            <th class="text-center align-middle"><strong>Nombre</strong></th>
            <th class="text-center align-middle"><strong>Apellido</strong></th>
            <th class="text-center align-middle"><strong>DNI</strong></th>
            <th class="text-center align-middle"><strong>Empleado</strong></th>
        </thead>

        <tbody>
          <tr *ngIf="persons.length == 0">
            <td colspan="15">No hay registros cargados</td>
          </tr>
          <tr *ngFor="let r of persons">
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.id}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.name}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.lastName}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.dni}}</td>
            <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{r.employee}}</td>
          </tr>
    </table>
  </div>

  <div>
    <p>Seleccione operacion que desea realizar.</p>

    <select [(ngModel)]="busqueda" class="form-select" aria-label="Default select example" >
      <option value="1">Ver persona por ID</option>
      <option value="2">Ingresar Persona</option>
      <option value="3">Modificar Persona</option>
      <option value="4">Eliminar Persona</option>
    </select>

    <!-- Mostrar Persona-->
    <div *ngIf="busqueda==1"><br><br>
      <p>Ingresa el ID  del Empleado</p>
      <input type="number" max="100" min="1" [(ngModel)]="this.busquedaPersona" required>
      <br><br>
      <button (click)="searchPerson()" mat-raised-button color="primary"> buscar</button>
      <div *ngIf="mostrarTablaPersonaPorID">
        <table class="table table-striped table-hover table-bordered align-middle " >
          <thead>
            <tr >
              <th class="text-center align-middle"><strong>id</strong></th>
              <th class="text-center align-middle"><strong>Nombre</strong></th>
              <th class="text-center align-middle"><strong>Apellido</strong></th>
              <th class="text-center align-middle"><strong>DNI</strong></th>
              <th class="text-center align-middle"><strong>Empleado</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{this.personById.id}}</td>
              <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{this.personById.name}}</td>
              <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{this.personById.lastName}}</td>
              <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{this.personById.dni}}</td>
              <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{this.personById.employee}}</td>
            </tr>
        </table>
      </div>
    </div>

    <!-- Crear Persona-->
    <div *ngIf="busqueda==2"><br><br>
      <p>Ingrese los datos de la Persona</p>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered align-middle ">
            <thead>
              <tr >
                <th class="text-center align-middle"><strong>Nombre</strong></th>
                <th class="text-center align-middle"><strong>Apellido</strong></th>
                <th class="text-center align-middle"><strong>DNI</strong></th>
                <th class="text-center align-middle"><strong>Empleado</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.name" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.lastName" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.dni" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.employee" required></td>
              </tr>
          </table>
        </div>
        <br><br>
        <button (click)="send()" mat-raised-button color="primary">Enviar</button>
    </div>

    <!-- Modificar Persona-->
    <div *ngIf="busqueda==3"><br><br>
      <p>Por favor ingrese el Id de la Persona para modificar</p>
      <br>
      <input type="number" max="100" min="1" [(ngModel)]="this.idModifier" required><br><br>
      <button (click)="verTablaModificar()" mat-raised-button color="primary">Consultar</button>
      <br><br>
      <div class="table-responsive" *ngIf="mostrarTablaModificar">
        <table class="table table-striped table-hover table-bordered align-middle ">
            <thead>
              <tr>
                <th class="text-center align-middle"><strong>Nombre</strong></th>
                <th class="text-center align-middle"><strong>Apellido</strong></th>
                <th class="text-center align-middle"><strong>DNI</strong></th>
                <th class="text-center align-middle"><strong>Empleado</strong></th>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.name" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.lastName" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.dni" required></td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle"><input type="text" [(ngModel)]="this.enviarPerson.employee" required></td>
              </tr>
        </table><br><br>
        <button (click)="Modifier()" mat-raised-button color="primary">Modificar</button>
      </div>
    </div>

  <!-- Eliminar Persona-->
    <div *ngIf="busqueda==4"><br><br>
      <p>Ingrese el Id del Empleado que desea Eliminar</p>
      <input type="number" min="1" max="100" [(ngModel)]="this.busquedaPersona" required>
      <br><br>
      <button (click)="deletePerson()" mat-raised-button color="primary">Eliminar</button>
    </div>

  </div>
</div>
<br><br>
<app-footer></app-footer>
